.btn-theme04 {
    color: #fff;
    background-color: #ed5565;
    border-color: #da4453;
}

.dcjq-icon {
    height: 17px;
    width: 17px;
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.active .dcjq-icon {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.dropdown-menu.extended {
    width: 700px !important;
    top: 42px;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Safari and Chrome */
    .dropdown-menu.extended {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    }
}

.article-list {
    float: left;
}

.article-head {
    background: #4ecdc4;
    color: #ffffff;
    min-height: 70px;
    padding: 15px;
    width: 100%;
}

.article-head h3 {
    margin: 5px 0 0;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block;
}

.article-main {
    padding: 15px;
    letter-spacing: 1px;
}

.content-panel {
    background-color: #eaeaea;
}

.chat-txt2 {
    float: left;
    margin-right: 5px;
    width: 100%;
}

.group-rom .third-part02 {
    width: 15%;
    float: left;
    padding: 15px;
}

.form-label {
    margin-left: 5px;
}

.modal-content2 {
    position: relative;
    background-color: #eaeaea;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.chat-room-head2 {
    background: #fff;
    color: #797979;
    min-height: 70px;
    padding: 15px;
}

.chat-room-head2 h3 {
    margin: 5px 0 0;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block;
}

.room-desk2 {
    display: inline-block;
    width: 100%;
    padding: 35px 15px 15px 15px;
}

.invite-row2 {
    background-color: #fff;
    padding: 6px 10px;
    display: inline-block;
    width: 100%;
}

.invite-row2-content {
    background-color: #967adc;
    border-color: #967adc;
    border-radius: 3px;
    padding: 5px 5px 5px 0;
    width: 45%;
    margin: 0 auto;
}

.invite-row2-content i {
    color: #fff;
}

.invite-row2-content p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    color: #fff;
}

.invite-row3 {
    background-color: #4ecdc4;
    color: #fff;
    padding: 6px 10px;
    display: inline-block;
    width: 100%;
}

.content-panel2 {
    background: #ffffff;
    box-shadow: 0px 3px 2px #aab2bd;
    padding-top: 15px;
    padding-bottom: 5px;
}

.content-panel2 h4 {
    margin-left: 10px;
}

.profile-text2 h6 {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
}

.profile-text2 h6 span {
    color: #48cfad;
}

.profile-text2 h3 {
    font-weight: 700;
    color: #48cfad;
}

.profile-text2 h4 {
    display: inline-block;
    color: #48cfad;
}

.profile-text2 h4 span {
    color: #d3d3d3;
}

.profile-text2 p {
    display: inline-block;
    margin-left: 10px;
}

.profile-pic {
    margin-top: 20px;
}

.ds a {
    color: #797979;
}

.bg-white {
    background-color: #ffffff;
}

.main-chart2 {
    padding: 20px;
}

.form-footer {
    padding: 0 15px;
    text-align: right;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
